<nz-row [nzGutter]="16">
  <!-- <div *ngFor="let statistic of statisticList">
    <nz-col [nzSpan]="6">
      <nz-card>
        <nz-statistic [nzValue]="11.28" [nzTitle]="statistic.title" [nzPrefix]="prefixTplOne" [nzSuffix]="statistic.suffix"
          [nzValueStyle]="{ color: '#3F8600' }">
        </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
      </nz-card>
    </nz-col>
  </div> -->
</nz-row>
<div class="chart-link">
  <a href="https://www.echartsjs.com/examples/zh/index.html" target="_blank">Echarts</a>
</div>
<div echarts [options]="chartOption" class="demo-chart"></div>
