<nz-table #basicTable [nzData]="listOfData"  class="base-table"
  nzBordered
  [nzScroll]="{ y: '400px' }"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="pageSize"
  [nzShowTotal]="totalTemplate"
  [nzScroll]="{ y: '360px' }"
>
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="150px">Name</th>
      <th nzAlign="center" nzWidth="50px">Age</th>
      <th nzAlign="center" nzWidth="150px">Birthday</th>
      <th nzAlign="center">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.birthday}}</td>
      <td>{{data.address}}</td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
