<nz-tabset>
  <nz-tab nzTitle="Outlined">
    <div class="icon-list">
      <div class="icon-list-item">
        <i nz-icon nzType="step-backward" nzTheme="outline"></i>
        <p>step-backward</p>
      </div>
      <div class="icon-list-item">
        <i nz-icon nzType="step-forward" nzTheme="outline"></i>
        <p>step-forward</p>
      </div>
      <div class="icon-list-item">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        <p>play-circle</p>
      </div>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Filled">
    <div class="icon-list">
      <div class="icon-list-item">
        <i nz-icon nzType="step-backward" nzTheme="fill"></i>
        <p>step-backward</p>        
      </div>
      <div class="icon-list-item">
        <i nz-icon nzType="step-forward" nzTheme="fill"></i>
        <p>step-forward</p>        
      </div>
      <div class="icon-list-item">
        <i nz-icon nzType="play-circle" nzTheme="fill"></i>
        <p>play-circle</p>        
      </div>
    </div>
  </nz-tab>
</nz-tabset>
